APP_URL=http://localhost:3000

MAPAY_PID=
MAPAY_KEY=
MAPAY_GATEWAY=https://mzf.mapay.cc/xpay/epay/submit.php
MAPAY_API_URL=https://mzf.mapay.cc/xpay/epay/api.php
MAPAY_SITENAME=码支付卡密铺
MAPAY_CHANNEL_ID=
MAPAY_DEVICE=
ORDER_TTL_MINUTES=15

ADMIN_PASSWORD=change_me
ADMIN_SESSION_SECRET=change_me_to_a_long_random_string
CARD_SECRET_ENCRYPTION_KEY=change_me_to_a_stable_long_random_string

POSTGRES_HOST=192.168.31.80
POSTGRES_PORT=5432
POSTGRES_USER=mazhifu
POSTGRES_PASSWORD=
POSTGRES_DATABASE=mazhifu
