APP_URL=http://localhost:3000

MAPAY_PID=
MAPAY_KEY=
MAPAY_GATEWAY=https://mzf.mapay.cc/xpay/epay/submit.php
MAPAY_SITENAME=码支付卡密铺
MAPAY_CHANNEL_ID=
MAPAY_DEVICE=

POSTGRES_HOST=192.168.31.80
POSTGRES_PORT=5432
POSTGRES_USER=mazhifu
POSTGRES_PASSWORD=
POSTGRES_DATABASE=mazhifu
